	body 
		{background-color:#e6e6cc;
		color:#333333;
		font-family: Verdana, Arial, sans-serif;
		padding:0;
		margin:0;}
	footer
		{clear:both;
		font-size:0.5em;
		font-family: Verdana, Arial, sans-serif;
		text-align:right;
		font-style:italic;
		padding:0 10px;}
	h1, h2
		{color:#660033;
		font-family: Verdana, Arial, sans-serif;}
	h3
		{color:#333333;}
	div 
		{vertical-align:middle;
		font-family: Verdana, Arial, sans-serif;}
	.header
		{background-color:#cccccc;
		overflow:hidden;
		color:#660033;
		text-shadow: 1px 1px 1px #ffffff;
		font-size:3em;
		font-family: Verdana, Arial, sans-serif;
		padding:8px;
		text-align: center;}
	.topnav 
		{background-color:#660033;
		overflow:hidden;
		color:#999999;
		text-shadow: 1px 1px 1px #000000;
		padding:8px;
		text-align: center;}
	.topnav a
		{color:#999999;
		text-shadow: 1px 1px 1px #000000;}
	.topnav a:hover
		{color:#ffffff;}
	.topnav a.active
		{color:#ffffff;
		font-style:bold;}
	.sidenav 
		{float:left;
		width:150px;
		background-color:#cccccc;
		text-align:left;
		overflow-x: hidden;
		padding:10px;}
	.sidenav a
		{color:#333333;}
	.sidenav a:hover
		{color:#000000;
		font-style:bold;}
	.main
		{margin-left: 170px;
		text-align:left;
		padding:10px;}
	.home
		{width:80%;
		margin:0px 10%;
		padding-top:10px;
		padding:0px;
		text-align:left;}